
:focus {
  outline: none;
}

body {
  font: 13px/1.6 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Arial sans-serif;
  font-weight: 200;
  padding: 100px;
}

h1 {
  font-weight: 400;
}

#bug {
  border-top: 1px solid #f0f0f0;
  padding: 3px;
  color: #666;
}

#editor {
  float: left;
  width: 500px;
  padding: 8px;
}

#toolbar {
  float: left;
  border-left: 1px solid #eee;
  padding: 8px;
  background-image: -webkit-linear-gradient(left, #f9f9f9 0%, #fff 8px);
  box-shadow: inset 1px 0 0 #f6f6f6;
}

#toolbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#toolbar li a {
  margin: 0 8px;
  color: #666;
  text-decoration: none;
}

[data-selected] {
  color: rgb(63, 191, 191) !important
}

#toolbar li a:hover {
  color: #333;
}
